main {
  gap: 10px;
  width: 320px;
  display: grid;
  padding: 24px 16px;
  border-radius: 8px;
  grid-template-areas:
    "result result result result"
    "clear positive-negative percentage divide"
    "seven eight nine multiply"
    "four five six minus"
    "one two three sum"
    "zero zero coma equal";
}

main.light {
  color: #343a40;
  background-color: #dee2e6;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

main.dark {
  color: #ccd4dc;
  background-color: #323639;
  box-shadow: rgba(177, 177, 189, 0.25) 0px 6px 12px -2px,
    rgba(198, 187, 187, 0.3) 0px 3px 7px -3px;
}

main button {
  cursor: pointer;
  border: 0px solid transparent;
  padding: 8px;
  min-width: 70px;
  font-size: 24px;
  min-height: 64px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  border-radius: 6px;
}

main.light button {
  background-color: #ced4da;
  color: #343a40;
}

main.dark button {
  background-color: #1e2021;
  color: #e7e9e9;
}

main button:active {
  opacity: 0.9;
}

main.light .contrast {
  background: #c7f9cc;
}

main.light .special {
  background: rgb(247, 201, 157);
}

main.dark .contrast {
  background: #bd77b0;
}

main.dark .special {
  background: rgb(81, 161, 73);
}

main .result {
  grid-area: result;
  height: 46px;
  padding: 24px 16px 8px 16px;
  overflow: hidden;
  position: relative;
  font-size: 40px;
  max-width: 100%;
  text-align: right;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  margin-bottom: 16px;
  border-radius: 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

main.light .result {
  background-color: #ced4da;
}

main.dark .result {
  background-color: #414244;
}

main .result p {
  position: absolute;
  top: 6px;
  right: 16px;
  margin: 0;
  font-size: 18px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}
